body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

#game {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.prompt {
    position: relative;
    width: 50%;
    height: 100%;
}

.prompt img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prompt .text {
    position: absolute;
    bottom: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
}

.vs {
    font-size: 24px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background: white;
    padding: 10px;
    border-radius: 5px;
    opacity: 0.8;
}

.buttons {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    z-index: 1;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    background-color: #e6e6e6;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #353535;
    color:#e6e6e6
}

#score {
    font-size: 18px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background: white;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0.8;
}

.win-container {
    text-align: center;
}

.win-container h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.win-container button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
}

.win-container button:hover {
    background-color: #218838;
}

.win-body {
    background-image: url('img/happy.png');
    background-size: 100% 100%;
}